
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Property List</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Property List</li>
                </ol>
                <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- row -->
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Search</h5>
                    <form role="form">
                        <div class="form-group has-info">
                            <select class="form-control custom-select">
                                <option value="" disabled selected>Status</option>
                                <option value="1">Rent</option>
                                <option value="2">Sale</option>
                            </select>
                        </div>
                        <div class="form-group has-info">
                            <select class="form-control custom-select">
                                <option value="" disabled selected>Country</option>
                                <option value="1">India</option>
                                <option value="2">Germany</option>
                                <option value="3">Spain</option>
                                <option value="4">Russia</option>
                                <option value="5">United States</option>
                            </select>
                        </div>
                        <div class="form-group has-info">
                            <select class="form-control custom-select">
                                <option value="" disabled selected>City</option>
                                <option value="1">Moscow</option>
                                <option value="2">Barcelona</option>
                                <option value="3">Mumbai</option>
                                <option value="4">Houston</option>
                                <option value="5">Sokovia</option>
                            </select>
                        </div>
                        <div class="form-group has-info">
                            <select class="form-control custom-select">
                                <option value="" disabled selected>Property Type</option>
                                <option value="1">Apartment</option>
                                <option value="2">Villa/Mansion</option>
                                <option value="3">Cottage</option>
                                <option value="4">Flat</option>
                                <option value="5">House</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-dark"><i class="fa fa-search m-r-5"></i>Search</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- column -->
        <div class="col-lg-8">
            <!-- Property Items -->
            <div class="card">
                <!-- row -->
                <div class="row no-gutters">
                    <div class="col-md-4" style="background: url('../assets/images/property/prop1.jpeg') center center / cover no-repeat; min-height:250px;">
                        <span class="pull-right label label-danger">For Rent</span>
                    </div>
                    <!-- column -->
                    <div class="col-md-8">
                        <!-- Row -->
                        <div class="row no-gutters">
                            <!-- column -->
                            <div class="col-md-6 border-right border-bottom">
                                <div class="p-20">
                                    <h5 class="card-title">Florida 5, Pinecrest, FL</h5>
                                    <h5 class="text-danger">&#36; 220,000</h5>
                                </div>
                            </div>
                            <!-- column -->
                            <div class="col-md-6 border-bottom">
                                <div class="p-20">
                                    <div class="d-flex no-block align-items-center">
                                        <span><img src="../assets/images/property/pro-bath.png"></span>
                                        <span class="p-10 text-muted">Bathrooms</span>
                                        <span class="badge badge-pill badge-secondary ml-auto">2</span>
                                    </div>
                                    <div class="d-flex no-block align-items-center">
                                        <span><img src="../assets/images/property/pro-bed.png"></span>
                                        <span class="p-10 text-muted">Beds</span>
                                        <span class="badge badge-pill badge-secondary ml-auto">2</span>
                                    </div>
                                    <div class="d-flex no-block align-items-center">
                                        <span><img src="../assets/images/property/pro-garage.png"></span>
                                        <span class="p-10 text-muted">Garages</span>
                                        <span class="badge badge-pill badge-secondary ml-auto">1</span>
                                    </div>
                                </div>
                            </div>
                            <!-- column -->
                            <div class="col-md-12">
                                <div class="p-20">
                                    <div class="d-flex no-block align-items-center">
                                        <a href="javascript:void(0)"><img alt="img" class="thumb-md img-circle m-r-10" src="../assets/images/users/agent.jpg "></a>
                                        <div>
                                            <h5 class="card-title m-b-0">Jon Doe</h5>
                                            <h6 class="text-muted">5 Property</h6>
                                        </div>
                                        <div class="ml-auto text-muted text-right">
                                            <i class="fa fa-map-marker text-danger m-r-10"></i> New York City
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- column -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Property Items -->
            <div class="card">
                <!-- row -->
                <div class="row no-gutters">
                    <div class="col-md-4" style="background: url('../assets/images/property/prop2.jpeg') center center / cover no-repeat;  min-height:250px;">
                        <span class="pull-right label label-success">For Sale</span>
                    </div>
                    <!-- column -->
                    <div class="col-md-8">
                        <!-- Row -->
                        <div class="row no-gutters">
                            <!-- column -->
                            <div class="col-md-6 border-right border-bottom">
                                <div class="p-20">
                                    <h5 class="card-title">Florida 5, Pinecrest, FL</h5>
                                    <h5 class="text-danger">&#36; 220,000</h5>
                                </div>
                            </div>
                            <!-- column -->
                            <div class="col-md-6 border-bottom">
                                <div class="p-20">
                                    <div class="d-flex no-block align-items-center">
                                        <span><img src="../assets/images/property/pro-bath.png"></span>
                                        <span class="p-10 text-muted">Bathrooms</span>
                                        <span class="badge badge-pill badge-secondary ml-auto">2</span>
                                    </div>
                                    <div class="d-flex no-block align-items-center">
                                        <span><img src="../assets/images/property/pro-bed.png"></span>
                                        <span class="p-10 text-muted">Beds</span>
                                        <span class="badge badge-pill badge-secondary ml-auto">2</span>
                                    </div>
                                    <div class="d-flex no-block align-items-center">
                                        <span><img src="../assets/images/property/pro-garage.png"></span>
                                        <span class="p-10 text-muted">Garages</span>
                                        <span class="badge badge-pill badge-secondary ml-auto">1</span>
                                    </div>
                                </div>
                            </div>
                            <!-- column -->
                            <div class="col-md-12">
                                <div class="p-20">
                                    <div class="d-flex no-block align-items-center">
                                        <a href="javascript:void(0)"><img alt="img" class="thumb-md img-circle m-r-10" src="../assets/images/users/agent.jpg "></a>
                                        <div>
                                            <h5 class="card-title m-b-0">Jon Doe</h5>
                                            <h6 class="text-muted">5 Property</h6>
                                        </div>
                                        <div class="ml-auto text-muted text-right">
                                            <i class="fa fa-map-marker text-danger m-r-10"></i> New York City
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- column -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Property Items -->
            <div class="card">
                <!-- row -->
                <div class="row no-gutters">
                    <div class="col-md-4" style="background: url('../assets/images/property/prop3.jpeg') center center / cover no-repeat;  min-height:250px;">
                        <span class="pull-right label label-danger">For Rent</span>
                    </div>
                    <!-- column -->
                    <div class="col-md-8">
                        <!-- Row -->
                        <div class="row no-gutters">
                            <!-- column -->
                            <div class="col-md-6 border-right border-bottom">
                                <div class="p-20">
                                    <h5 class="card-title">Florida 5, Pinecrest, FL</h5>
                                    <h5 class="text-danger">&#36; 220,000</h5>
                                </div>
                            </div>
                            <!-- column -->
                            <div class="col-md-6 border-bottom">
                                <div class="p-20">
                                    <div class="d-flex no-block align-items-center">
                                        <span><img src="../assets/images/property/pro-bath.png"></span>
                                        <span class="p-10 text-muted">Bathrooms</span>
                                        <span class="badge badge-pill badge-secondary ml-auto">2</span>
                                    </div>
                                    <div class="d-flex no-block align-items-center">
                                        <span><img src="../assets/images/property/pro-bed.png"></span>
                                        <span class="p-10 text-muted">Beds</span>
                                        <span class="badge badge-pill badge-secondary ml-auto">2</span>
                                    </div>
                                    <div class="d-flex no-block align-items-center">
                                        <span><img src="../assets/images/property/pro-garage.png"></span>
                                        <span class="p-10 text-muted">Garages</span>
                                        <span class="badge badge-pill badge-secondary ml-auto">1</span>
                                    </div>
                                </div>
                            </div>
                            <!-- column -->
                            <div class="col-md-12">
                                <div class="p-20">
                                    <div class="d-flex no-block align-items-center">
                                        <a href="javascript:void(0)"><img alt="img" class="thumb-md img-circle m-r-10" src="../assets/images/users/agent.jpg "></a>
                                        <div>
                                            <h5 class="card-title m-b-0">Jon Doe</h5>
                                            <h6 class="text-muted">5 Property</h6>
                                        </div>
                                        <div class="ml-auto text-muted text-right">
                                            <i class="fa fa-map-marker text-danger m-r-10"></i> New York City
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- column -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Property Items -->
            <div class="card">
                <!-- row -->
                <div class="row no-gutters">
                    <div class="col-md-4" style="background: url('../assets/images/property/prop4.jpeg') center center / cover no-repeat;  min-height:250px;">
                        <span class="pull-right label label-danger">For Rent</span>
                    </div>
                    <!-- column -->
                    <div class="col-md-8">
                        <!-- Row -->
                        <div class="row no-gutters">
                            <!-- column -->
                            <div class="col-md-6 border-right border-bottom">
                                <div class="p-20">
                                    <h5 class="card-title">Florida 5, Pinecrest, FL</h5>
                                    <h5 class="text-danger">&#36; 220,000</h5>
                                </div>
                            </div>
                            <!-- column -->
                            <div class="col-md-6 border-bottom">
                                <div class="p-20">
                                    <div class="d-flex no-block align-items-center">
                                        <span><img src="../assets/images/property/pro-bath.png"></span>
                                        <span class="p-10 text-muted">Bathrooms</span>
                                        <span class="badge badge-pill badge-secondary ml-auto">2</span>
                                    </div>
                                    <div class="d-flex no-block align-items-center">
                                        <span><img src="../assets/images/property/pro-bed.png"></span>
                                        <span class="p-10 text-muted">Beds</span>
                                        <span class="badge badge-pill badge-secondary ml-auto">2</span>
                                    </div>
                                    <div class="d-flex no-block align-items-center">
                                        <span><img src="../assets/images/property/pro-garage.png"></span>
                                        <span class="p-10 text-muted">Garages</span>
                                        <span class="badge badge-pill badge-secondary ml-auto">1</span>
                                    </div>
                                </div>
                            </div>
                            <!-- column -->
                            <div class="col-md-12">
                                <div class="p-20">
                                    <div class="d-flex no-block align-items-center">
                                        <a href="javascript:void(0)"><img alt="img" class="thumb-md img-circle m-r-10" src="../assets/images/users/agent.jpg "></a>
                                        <div>
                                            <h5 class="card-title m-b-0">Jon Doe</h5>
                                            <h6 class="text-muted">5 Property</h6>
                                        </div>
                                        <div class="ml-auto text-muted text-right">
                                            <i class="fa fa-map-marker text-danger m-r-10"></i> New York City
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- column -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-b-40 m-t-40">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="javascript:void(0)" tabindex="-1"><i class="fa fa-angle-left"></i></a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="javascript:void(0)">1 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)"><i class="fa fa-angle-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /row -->
</div>
</div>