.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
}
.card .card-title {
  position: relative;
  font-weight: 500;
}
h5 {
  font-size: 16px;
}
h4 {
  margin-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  color: inherit;
}
.page-titles .breadcrumb .breadcrumb-item.active {
  color: rgba(131, 19, 58, 1);
  font-weight: 600 !important;
  border-radius: 40px;
  text-transform: capitalize;
}
.btn-info {
  color: #fff;
  background-color: rgba(131, 19, 58, 1);
  border-color: rgba(131, 19, 58, 1);
  margin-bottom: 10px;
  margin-top: 0;
  height: 40px;
}

#btn {
  border-radius: 5%;
}
.col-md-5 {
  width: 41.66666667%;
  color: black;
}
.text-info {
  color: rgba(131, 19, 58, 1) !important;
}
